html,body{
	padding-top: 4vw;
  margin:0;
  overflow-x:hidden;
font-family: 'Raleway', sans-serif;
  

}

hr{
	display: block;
    margin-left:18%;
	margin-right:18%;
    border-style: inset;
    border-width: 1px;

}

h1 {
  

	
  
	/* padding-right: 25vw */
font-family: 'Raleway', sans-serif;
font-size:5rem;
font-weight:300;
text-align: center;
}

.contact{

  padding:10% 23% 2%;
  position:relative;
  bottom:6vw;
  left:2vw;
  text-align:center;

}

h2{
 /* font-size:2.2em;*/
font-size:2.5rem;
  padding-top:4%;
  padding-bottom:3.5%;
/*   font-weight:bold; */
}
 p{
 
  font-size:1rem;

font-family: 'Raleway', sans-serif;

  
}
.contact-text{
  padding:5%;
background-color:#ededed;
/*   box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out; */
}

.contact-text:hover{
  

  
/*   box-shadow: 0 5px 25px rgba(0,0,0,0.3); */
/*   box-shadow: 5px 10px 28px #888888; */
}


h4{
font-size:1.1rem;
  color:black
}



iframe{
width:115%;
  height:100%;
  position:relative;
  right:18%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
  -webkit-filter: grayscale(50%);
       -moz-filter: grayscale(50%);
        -ms-filter: grayscale(50%);
         -o-filter: grayscale(50%);
            filter: grayscale(50%);
}

iframe:hover{

  box-shadow: 0 5px 25px rgba(0,0,0,0.3);
  
}


h5{

  font-weight:600;

}

.btn{
  color:white;
  background-color:#ef817f;
}

.btn:hover{
  color:white;
   background-color:#ff4c68 
}

a{
 color:white; 
}

a:hover{
  cursor: pointer;
text-decoration:none !important ;
   
color:white !important;
}

a:visited{
	text-decoration:none !important;
}

a:link{
text-decoration:none;
color:black;

}

.pos{

/*   background-color:#ededed; */
  text-align:center;
   padding:5%;
/*   margin: 0 10%;  */
  
/*   box-shadow: 0 1px 2px rgba(0,0,0,0.15); */
/*   transition: box-shadow 0.3s ease-in-out; */

}

.pos:hover{
/* box-shadow: 0 5px 25px rgba(0,0,0,0.3); */

}

.pic{
width:70%;
}

.apply{
  position:relative;
  left:8%;
  margin:1%;
  padding:5% 3%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
background-color:#ededed; 
  text-align:center;
font-family: 'Roboto', sans-serif;
}

.apply:hover{
box-shadow: 0 5px 25px rgba(0,0,0,0.3);
}
.mediaa{
  text-align:center;
  margin-top:7%;
  margin-bottom:3%;
  padding:0.5%;
/*   background-color:#ededed; */
    font-size:1.5rem;
  
  }
i{
  color:darkred ;
  padding:0 1.5%;
}

i:hover{
color:#ef817f;
}
@media screen and (max-width: 961px) {
  
  body{
    
    margin-top:15%;
    
  }
  
  h1{
    
  font-size:2.5rem;
  }
  iframe{
width:110%;
  height:150%;
    right:5%;
  text-align:center;
  margin:0;
}

.contact-text{

/*   padding:15%; */
  position:static;
  margin-top:35%;
  margin-bottom:0%;
  width:100%;
  text-align:center;

}
  
  h2{
  font-size:2.5rem;
  padding-bottom:7%;
    padding-top:0%;
    margin-top:0%;
  }
  .pic{
  
    width:60%;
  
  }
  
  .pos{
  padding:15%;

  }
  .apply{
    position:static;
  width:10%;
  margin:5% 0;
  padding:10%;
  }
  
  .mediaa{
  
    font-size:1.1rem;
  padding:1%;
  }


}